html, body, .map {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #000;
    color: #000;
}

.map {
    width: 100%;
}

.button {
    border: 1px solid #666;
    cursor: pointer;
    padding: 5px 20px;
    margin: 0px 10px;
}

.hidden {
    display: none;
}

.gmap_img {
    opacity: 0.75;
}

#mapy_container div div div img {
    opacity: 0.1;   
}

.slider-container {
    position: absolute;
    right: 0;
    top: 0;
}

.gradients p {
    padding: 5px 0 10px 5px;
    margin: 0;
}

.gradient {
  text-align: right;
  width: 30px;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.one { border-top: 5px solid #00F800; }
.two { border-top: 5px solid #68F900; }
.three { border-top: 5px solid #A5F700; }
.four { border-top: 5px solid #DFF800; }
.five { border-top: 5px solid #FADA00; }
.six { border-top: 5px solid #FD9C00; }
.seven { border-top: 5px solid #FD5E02; }
.eight { border-top: 5px solid #F30006; width: 35px; }


.gradients {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 250px;
    padding: 5px;
}

.map-ui {
    margin: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

input[type=range] {
    width: 120px;
    padding: 2px 5px;
}